.font24{
    font-size: 24px;
}
.font16{
    font-size: 16px;
}
ul {
    list-style-type: disc !important;
    padding-left: 1em !important;
    margin-left: 1em;
  }
li {
  list-style-position: inside;
}
.wheatback{
  background-color: wheat;
}
.greenback{
  background-color: #85DCB8;
}
.blueback{
  background-color: #659DBD;
}
.card{
  border-radius: 5%;
}
.imgradius{
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}